@charset "UTF-8";
html {
  font-size: 100%;
}

body {
  color: #333;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
  line-height: 1;
}

a {
  color: #222;
  text-decoration: none;
}

li {
  list-style-type: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

table {
  border-collapse: collapse;
}

@media (min-width: 751px) {
  a[href*="tel:"] {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
  }
}

/*===========================================================*/
/* header   */
/*===========================================================*/
.header {
  height: 80px;
}

.header__inner {
  position: fixed;
  width: 100%;
  height: 80px;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  z-index: 999;
}

.header-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-title {
  margin-right: 30px;
}

.gmenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gmenu__list {
  margin-right: 28px;
}

.gmenu__list a {
  font-size: 1rem;
  font-weight: bold;
  color: #1B224C;
}

.header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__tel {
  margin-right: 23px;
  text-align: right;
}

.header__tel-time {
  display: block;
  margin-bottom: 10px;
  font-size: 0.875rem;
}

.header__tel-phone {
  display: block;
  position: relative;
  font-size: 1rem;
  font-weight: bold;
}

.header__tel-phone::before {
  content: url(../img/tel.png);
  position: absolute;
  left: -15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.request-btn {
  display: inline-block;
  width: 140px;
  padding: 18px 0;
  margin-right: 10px;
  background-color: #F5A623;
  border-radius: 5px;
  color: #fff;
  font-size: 0.875rem;
  font-weight: bold;
  letter-spacing: 2px;
}

.h-contact-btn {
  display: inline-block;
  width: 140px;
  padding: 18px 0;
  background-color: #1B224C;
  border-radius: 5px;
  color: #fff;
  font-size: 0.875rem;
  font-weight: bold;
  letter-spacing: 2px;
}

.toggle-btn {
  display: none;
  position: relative;
  width: 50px;
  height: 50px;
  border: 1px solid #1B224C;
  border-radius: 50%;
  cursor: pointer;
  z-index: 999;
}

.toggle-btn span {
  position: absolute;
  left: 10px;
  width: 30px;
  height: 3px;
  background-color: #333;
  -webkit-transition: .3s;
  transition: .3s;
}

.toggle-btn span:nth-child(1) {
  top: 16px;
}

.toggle-btn span:nth-child(2) {
  top: 24px;
}

.toggle-btn span:nth-child(3) {
  top: 32px;
}

.toggle-btn.active span {
  -webkit-transition: .3s;
  transition: .3s;
}

.toggle-btn.active span:nth-child(1) {
  top: 24px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.toggle-btn.active span:nth-child(2) {
  opacity: 0;
}

.toggle-btn.active span:nth-child(3) {
  top: 24px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.panelactive .gmenu {
  opacity: 1;
  visibility: visible;
}

.panelactive .header-right {
  opacity: 1;
  visibility: visible;
}

.mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #333;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .5s;
  transition: .5s;
  z-index: 998;
}

.mask.active {
  visibility: visible;
  opacity: .5;
}

@media (max-width: 1100px) {
  .site-title {
    position: fixed;
    z-index: 999;
  }
  .gmenu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    z-index: -1;
    top: 80px;
    right: 0;
    height: 100vh;
    background: #fff;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: .5s;
    transition: .5s;
  }
  .gmenu__list {
    margin-right: 0;
    background-color: #1B224C;
    width: 200px;
    padding: 20px 0;
    border-bottom: 1px solid #fff;
    text-align: center;
  }
  .gmenu__list a {
    color: #fff;
    font-weight: bold;
  }
  .header-right {
    position: fixed;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top: 320px;
    right: 29px;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: .5s;
    transition: .5s;
  }
  .header__tel {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-right: 0;
    margin-top: 30px;
  }
  .header-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .header-button .request-btn {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .header__tel-time {
    color: #1B224C;
  }
  .toggle-btn {
    display: block;
  }
}

/*===========================================================*/
/* main   */
/*===========================================================*/
/*===========================================================*/
/* mainvisual   */
/*===========================================================*/
.mainvisual__inner {
  position: relative;
  background: url(../img/fv@2x.png) no-repeat;
  width: 100%;
  height: 500px;
  background-size: cover;
  background-position: center;
}

.mainvisual__textarea {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.mainvisual__title {
  margin-bottom: 25px;
  font-size: 3rem;
  font-weight: bold;
  color: #fff;
}

.mainvisual__text {
  margin-bottom: 50px;
  font-size: 1.125rem;
  font-weight: normal;
  color: #fff;
}

/*===========================================================*/
/* introduction   */
/*===========================================================*/
.introduction {
  width: 100%;
  padding: 63px 4% 54px 4%;
  background-color: #1B224C;
}

.introduction-top__title {
  margin-bottom: 65px;
  font-size: 2.25rem;
  font-weight: bold;
  color: #fff;
  text-align: center;
}

.introduction-top__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 83px;
}

.introduction__text {
  font-size: 1.125rem;
  font-weight: bold;
  color: #fff;
  text-align: center;
  line-height: 2.1;
}

.introduction__text:not(:nth-child(3)) {
  margin-right: 50px;
}

.introduction-bottom {
  max-width: 900px;
  padding: 15px;
  margin: 0 auto;
  background-color: #fff;
}

.introduction-bottom__content {
  padding: 20px 0;
  margin: 0 auto;
  border: 5px solid #1B224C;
  text-align: center;
}

.introduction-bottom__title {
  font-size: 2.25rem;
  font-weight: bold;
  color: #1B224C;
  line-height: 1.38;
  margin-bottom: 25px;
}

.introduction-bottom__text {
  font-size: 1.125rem;
  font-weight: normal;
  color: #1B224C;
  line-height: 1.72;
}

.under-yellow {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(70%, transparent), color-stop(0%, #F5A623));
  background: linear-gradient(transparent 70%, #F5A623 0%);
}

@media (max-width: 768px) {
  .introduction-top__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sp-hidden {
    display: none;
  }
  .introduction__text:not(:nth-child(3)) {
    margin-right: 0;
  }
  .introduction-bottom__title {
    font-size: 1.5rem;
    padding: 10px;
  }
}

/*===========================================================*/
/* feature   */
/*===========================================================*/
.feature {
  padding: 0 4%;
}

.feature__inner {
  max-width: 900px;
  margin: 0 auto;
  padding: 60px 0 40px;
}

.section__title {
  margin-bottom: 60px;
  font-size: 2.25rem;
  font-weight: bold;
  color: #1B224C;
  text-align: center;
}

.medias {
  margin-bottom: 90px;
}

.media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 60px;
}

.media__reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.media__body {
  width: 55%;
  text-align: left;
}

.media__img-wrapper {
  width: 40%;
}

.feature__label {
  display: inline-block;
  width: 90px;
  padding: 10px 0;
  margin-bottom: 10px;
  background-color: #F5A623;
  font-size: 0.75rem;
  font-weight: normal;
  color: #fff;
  text-align: center;
}

.media__title {
  margin-bottom: 30px;
  font-size: 1.625rem;
  font-weight: bold;
  color: #1B224C;
  line-height: 1.5;
}

.media__text {
  color: #1B224C;
}

.feature-price {
  background: url(../img/price.png) no-repeat;
  padding: 60px 0;
  text-align: center;
}

.feature-price__text {
  margin-bottom: 20px;
  font-size: 1.625rem;
  font-weight: bold;
  color: #fff;
}

.feature-price__button {
  display: inline-block;
  width: 200px;
  padding: 10px 0;
  border: 1px solid #fff;
  border-radius: 30px;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
}

@media (max-width: 768px) {
  .media {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .media__body {
    width: 100%;
  }
  .media__img-wrapper {
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
  }
  .media__title {
    margin-bottom: 15px;
  }
  .feature-price__text {
    font-size: 1.5rem;
  }
}

/*===========================================================*/
/* success   */
/*===========================================================*/
.success {
  width: 100%;
  padding: 60px 4%;
  background-color: #1B224C;
}

.success__inner {
  max-width: 900px;
  margin: 0 auto;
}

.success .section__title {
  color: #fff;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card {
  width: calc((100% - 60px) / 3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card__text {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
  margin-bottom: 10px;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  line-height: 1.8;
}

.card__img-wrapper {
  position: relative;
  width: 100%;
  height: 170px;
  margin-bottom: 16px;
  background-color: #fff;
}

.card__img {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.card__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
}

.job {
  width: 30%;
  padding: 8px 0;
  background-color: #fff;
  color: #333;
  padding-left: 0.5rem;
}

.name {
  width: 65%;
  padding: 8px 0;
  background-color: #fff;
  color: #333;
  padding-left: .5rem;
}

.success-example {
  padding: 8px 0;
  background-color: #fff;
  color: #333;
  padding-left: .5rem;
}

@media (max-width: 768px) {
  .cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .card {
    width: 100%;
    margin-bottom: 50px;
  }
}

/*===========================================================*/
/* flow   */
/*===========================================================*/
.flow {
  padding: 58px 4% 75px;
}

.flow__inner {
  max-width: 900px;
  margin: 0 auto;
}

.flow-step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.flow-step__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flow-step__number {
  display: inline-block;
  width: 40px;
  padding: 20px 0;
  background-color: #F5A623;
  color: #fff;
  text-align: center;
}

.flow-step__title {
  width: 185px;
  padding: 20px 0 20px 10px;
  background-color: #F8F8F8;
  font-size: 1.125rem;
  font-weight: bold;
  color: #1B224C;
}

.flow-step__border {
  background-color: #C3C3C3;
  width: 1px;
  height: 29px;
}

.flow-step__body {
  width: 100%;
  padding: 20px 0 20px 15px;
  background-color: #F8F8F8;
  font-size: 1rem;
  font-weight: normal;
  color: #1B224C;
}

@media (max-width: 768px) {
  .flow-step {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .flow-step__header {
    width: 100%;
  }
  .flow-step__number {
    padding: 10px 0;
  }
  .flow-step__title {
    width: 100%;
    padding: 10px 0 10px 10px;
  }
  .flow-step__border {
    width: 0;
    height: 0;
  }
  .flow-step__body {
    padding: 10px 0 10px 15px;
  }
}

/*===========================================================*/
/* faq   */
/*===========================================================*/
.faq {
  padding: 0 4%;
  margin-bottom: 90px;
}

.faq__inner {
  max-width: 900px;
  margin: 0 auto;
}

.faq__content {
  border-bottom: 1px solid #1B224C;
}

.faq__header {
  position: relative;
  padding: 20px;
  border-top: 1px solid #1B224C;
}

.faq__header::before {
  display: inline-block;
  content: '';
  width: 20px;
  height: 2px;
  background-color: #333;
  position: absolute;
  top: 50%;
  right: 20px;
}

.faq__header::after {
  display: inline-block;
  content: '';
  width: 2px;
  height: 20px;
  background-color: #333;
  position: absolute;
  top: 35%;
  right: 29px;
  opacity: 1;
  -webkit-transition: .5s;
  transition: .5s;
}

.faq__header.active::after {
  opacity: 0;
  -webkit-transition: .3s;
  transition: .3s;
}

.faq__text {
  display: none;
  padding: 20px;
  background-color: #F8F8F8;
  margin-bottom: 10px;
}

.faq__text.open {
  display: block;
  -webkit-animation: accodion 0.5s linear 0s;
          animation: accodion 0.5s linear 0s;
}

@-webkit-keyframes accodion {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes accodion {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .faq__header {
    padding-right: 50px;
  }
}

/*===========================================================*/
/* blognews   */
/*===========================================================*/
.blognews {
  padding: 0 4%;
  margin-bottom: 100px;
}

.blognews__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 900px;
  margin: 0 auto;
}

.blognews .section__title {
  text-align: left;
}

.blog {
  width: 50%;
}

.blog-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

.blog-media__img-wrapper {
  position: relative;
  width: 35%;
}

.blog__label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 8px;
  background-color: #1B224C;
  font-size: 0.75rem;
  color: #fff;
}

.blog-media__body {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blog-media__body a {
  display: block;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.68;
  color: #1B224C;
}

.blog-media__time {
  display: block;
  font-size: 0.75rem;
  color: #1B224C;
}

.news {
  width: 40%;
}

.news__body {
  margin-bottom: 30px;
}

.news__time {
  display: block;
  margin-bottom: 16px;
  font-size: 0.75rem;
  color: #1B224C;
}

.news__link {
  display: block;
  height: 60px;
  font-size: 1rem;
  color: #1B224C;
  text-decoration: underline;
}

@media (max-width: 768px) {
  .blognews .section__title {
    text-align: center;
    margin-bottom: 30px;
  }
  .blognews__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blog {
    width: 100%;
    margin-bottom: 50px;
  }
  .news {
    width: 100%;
    padding: 0 50px;
  }
}

/*===========================================================*/
/* footer   */
/*===========================================================*/
.footer-top {
  background: url(../img/cta@2x.png) no-repeat;
  background-size: cover;
  padding: 70px 0 40px;
  text-align: center;
}

.footer-top__text {
  margin-bottom: 16px;
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
}

.footer-middle {
  padding: 20px 0;
  text-align: center;
}

.footer-middle__text {
  display: inline-block;
  margin-right: 20px;
  font-size: 1rem;
  font-weight: bold;
  color: #1B224C;
}

.footer-middle__tel {
  display: inline-block;
  margin-right: 20px;
  font-size: 2.25rem;
  font-weight: bold;
  color: #1B224C;
}

.footer-middle__time {
  display: inline-block;
  font-size: 1rem;
  font-weight: normal;
  color: #1B224C;
}

.footer-bottom {
  padding: 0 4%;
  background-color: #1B224C;
}

.footer-bottom__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 900px;
  padding: 36px 0 68px;
  margin: 0 auto;
}

.footer-menu__list {
  position: relative;
  display: inline-block;
  margin-right: 30px;
  font-size: 1rem;
  font-weight: bold;
}

.footer-menu__list a {
  color: #fff;
}

.footer-menu__list:not(:last-child)::after {
  position: absolute;
  content: '';
  top: 1px;
  right: -16px;
  background-color: #fff;
  width: 2px;
  height: 15px;
}

.footer-bottom__right {
  text-align: right;
}

.footer-title {
  display: inline-block;
  padding: 14px;
  margin-right: 0;
  background-color: #fff;
  margin-bottom: 25px;
}

.footer__tel-time {
  display: block;
  color: #fff;
}

.footer__tel-phone {
  position: relative;
  display: inline-block;
  margin-bottom: 10px;
  color: #fff;
}

.footer__tel-phone::before {
  position: absolute;
  content: url(../img/tel-white.png);
  top: 50%;
  left: -15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.copy-right {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 4%;
  text-align: right;
}

.copy-right small {
  display: inline-block;
  padding: 10px 0;
}

@media (max-width: 768px) {
  .footer-top__text {
    font-size: 1.5rem;
  }
  .footer-middle__text {
    display: block;
    margin-bottom: 10px;
    font-size: 1.125rem;
    font-weight: bold;
    color: #1B224C;
  }
  .footer-middle__tel {
    display: block;
    margin-bottom: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #1B224C;
  }
  .footer-middle__time {
    display: block;
    font-size: 1rem;
    font-weight: normal;
    color: #1B224C;
  }
  .footer-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-menu__list {
    margin-right: 0;
    margin-bottom: 15px;
  }
  .footer-menu__list:not(:last-child)::after {
    content: none;
  }
}
/*# sourceMappingURL=style.css.map */